<!-- <div class="mt-4">
  <ag-grid-angular #agGrid style="width: 100%; height: 500px;" id="acisGrid" class="ag-theme-material"
    (rowSelected)="onRowSelected($event)" [rowData]="acistabledata$" [columnDefs]="columnDefs"
    [autoGroupColumnDef]="autoGroupColumnDef" [defaultColDef]="defaultColDef" [animateRows]="true"
    [rowSelection]="rowSelection" [autoGroupColumnDef]="autoGroupColumnDef" [groupMultiAutoColumn]="true">
  </ag-grid-angular>
</div> -->


<div class="delete-btnblock">
  <button [hidden]="!notSelected" class="btn btn-danger" (click)="onRemoveSelected()">Delete</button>
</div>
<div class="mt-4">
  <ag-grid-angular #agGrid style="width: 100%; height: 500px;" id="acisGrid" class="ag-theme-material"
    (rowSelected)="onRowSelected($event)" [rowData]="acistabledata$" [columnDefs]="columnDefs"
    [autoGroupColumnDef]="autoGroupColumnDef" [defaultColDef]="defaultColDef" [animateRows]="true"
    [rowSelection]="rowSelection" [autoGroupColumnDef]="autoGroupColumnDef" [groupMultiAutoColumn]="true"
    (cellDoubleClicked)="onCellDoubleClicked($event)">
  </ag-grid-angular>
</div>